<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
</head>

<body>{% block title -%}
    <title>{{ title }}</title>
    {% endblock %}


    {% block content -%}

    {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
        <a href="news" class="btn btn-secondary">???????? ????????</a>
    {% else %}
        <p>
            <a class="btn btn-primary " href="/register">????????????????
            <a class="btn btn-success" href="/login">?????</a></p>
    {% endif %}

    <h1>{{ text }}</h1>
    {% if content -%}
        <h1>{{ content }}</h1>
    {% else %}
        <h1>There's nothing</h1>
    {% endif %}
    {% endblock %}

</body></html>