{% extends 'base.html' %}
 
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="" method="post" class="form-contact">
<p><label>Login: </label> <input type="text" name="login" value="" requied />
<p><label>Email: </label> <input type="text" name="email" value="" requied />
<p><label>Pasword: </label> <input type="text" name="psw1" value="" requied />
<p><label>Repeat_pasword: </label> <input type="text" name="psw2" value="" requied />
<p><label>Allergies: </label> <input type="text" name="all" value="" requied />
<p><input type="submit" value="Регистрация" />
</form>
{% endblock %}