{% extends 'base.html' %}

{% block content %}
<form action="registration">
        <button class="button">Выход</button>
</form>

<form action="" method="post" class="form-contact">
    <p>
            <label for="allergs">Аллергены</label><br>
            <input class="form-control" id="allergs" name="allergs" required type="" value="{{alergs}}"><br>
        </p>

    <p><input class="btn btn-primary" id="submit" name="submit" type="submit" value="Изменить">
</form>

<form action="" method="post" class="form-contact" enctype="multipart/form-data">
  <p><input type=file name=image value="" required/>
  <p><input type="submit" value="Проверить" />
</form>
{% endblock %}